@using Microsoft.AspNetCore.Identity
@using MyyCommerce.Domain

@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyCommerce</title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/css/owl.carousel.css" type="text/css">

    <!--right slidebar-->
    <link href="~/css/slidebars.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->

    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style-responsive.css" rel="stylesheet" />
    <link href="~/customStyle.css" rel="stylesheet" />

    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>

</head>
<body class="light-sidebar-nav">

    
    <section id="container">
        <header class="header">
            <partial name="_Header" />
        </header>
        @if (SignInManager.IsSignedIn(User))
        {
            <partial name="_Navigation" />
        }

        <section id="main-content" class="ClientContent">
            <section class="wrapper">
                @RenderBody()
            </section>
        </section>

        @*<footer class="site-footer">
            <div class="text-center">
                @DateTime.Now.Year MyCommerce By João Pedro Kalil
            </div>
        </footer>*@
    </section>
    

    <!-- js placed at the end of the document so the pages load faster -->

    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script class="include" type="text/javascript" src="~/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/js/jquery.scrollTo.min.js"></script>
    <script src="~/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="~/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/jquery.customSelect.min.js"></script>
    <script src="~/js/respond.min.js"></script>


    <!--right slidebar-->
    <script src="~/js/slidebars.min.js"></script>

    <!--common script for all pages-->
    <script src="~/js/common-scripts.js"></script>

    <!--script for this page-->
    <script src="~/js/sparkline-chart.js"></script>
    <script src="~/js/easy-pie-chart.js"></script>
    <script src="~/js/count.js"></script>

</body>
</html>
